html{
    background-image:url(../photos/photo11.png);

}

h1{
    text-align:center;
    font-family: 'Mansalva', cursive;

}
nav{
    background-color: lightsgray
}
p{
    font-family: 'Questrial';
    text-align: center;
    width: 1000px; 
    word-break: keep-all;
   font-size: 30px;
   margin-left: 300px
  
}
li{
    display: inline-block;
    font-size: 40px;
    color: black;
}
.li1{
    margin-left: 50px;
    color: black;
 }

.li2{
    margin-left: 150px;
    color: black;
}

.li3{
    margin-left: 150px;
    color: black;

}
.li4{
    margin-left: 150px;
    color: black;

}
.photo6{
    width: 570px;
    height: 372px;
    margin-left: 400px;
    


}
.photo7{
    width: 570px;
    height: 372px;
    margin-left: 400px;
    
}